h1 {
    font-style: normal;
    font-size: 25px;
    font-family: Verdana, Tahoma, sans-serif;

}

.i {
      font-weight: 200px;
}
body {
      margin: 0;
      padding: 0;
      font-family: "Poppins", sans-serif;
      background: url('backg.jpg') no-repeat;
      background-size: cover;
      background-position: center;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
}

 .container {
      background: white;
      padding: 30px;
      border-radius: 10px;
      box-shadow: 0 10px 20px rgba(0,0,0,0.2);
      text-align: center;
      width: 300px;
    }

h1 {
      color: #ffffff;
      text-shadow: 0 2px 6px rgba(0,0,0,.7);
      z-index: 10;
      text-align: left; 
      width: 100%;
      padding-left: 30px;
      margin-top: 20px;
      position: absolute; 
      justify-content: center;
      top: 5px;
      left: 400px;
      animation: fadeInDown 1s ease;
      
}

.h1 .bbh-sans-hegarty-regular {
  font-family: "BBH Sans Hegarty", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

h4 {
     color: #ffffff;
     margin-bottom: 12px;

}

.wrapper {
    width: 420px;
    background: transparent;
    backdrop-filter: blur(5px);
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    color: #fff;
    border-radius: 10px;
    padding: 20px 20px;

}

.wrapper .input-box {
      width: 100%;
      height: 50px;
      margin: 30px 0;
}
.wrapper h2 {
    font-size: 35px;
    text-align: center;
}

select {
      width: 100%;
      padding: 12px;
      border-radius: 40px;
      border: 1px solid rgba(255, 255, 255, .2);
      background-color: #f9f9f9;
      font-size: 16px;
      color: #333;
      transition: all 0.3s ease;
      cursor: pointer;
}

select:hover {
      border-color: #4a90e2;
      background-color: #fff;
 }

#hasil {
      margin-top: 20px;
      font-weight: 600;
      color: #4a90e2;
}

.login-box {
      background-color: #fff;
      width: 350px;
      padding: 35px 40px;
      border-radius: 15px;
      box-shadow: 0 5px 20px rgba(0,0,0,0.2);
      text-align: center;
      animation: muncul 0.8s ease;
    }

@keyframes muncul {
      from {opacity: 0; transform: translateY(-20px);}
      to {opacity: 1; transform: translateY(0);}
    }

.input-box {
      margin-bottom: 20px;
      text-align: left;

}

label {
      font-weight: 500;
      color: #555;
    }

input {
      width: 100%;
      padding: 10px;
      margin-top: 6px;
      border: 1px solid rgba(255, 255, 255, .2);
      border-radius: 40px;
      font-size: 15px;
      transition: 0.3s;
      outline: none;
}

input:focus {
      border-color: #74b9ff;
      box-shadow: 0 0 5px rgba(116,185,255,0.5);
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px; /* atau sesuaikan */
}
.btn-submit {
  display: inline-block;   
  justify-content: center;
  margin-top: 30px;        
  padding: 12px 13px;      
  background: #007bff;    
  color: #fff;             
  border-radius: 20px;     
  text-decoration: none;   
  font-size: 20px;
  transition: .2s ease;   
} 

.btn-submit:hover {
  background: #0056b3;    
}